<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-dark bg-dark" style="color: white">
    <a class="navbar-brand" href="#">MyRubyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto topnav">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/createpage">Create Page</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/listpage">View Pages</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/seo">SEO Page</a>
            </li>
            <li class="nav-item dropdown mr-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/edit">Edit Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout"><b>Logout</b></a>
                </div>
            </li>
        </ul>
    </div>
</nav>

